<section class="dashboard" [ngClass]="{'dashboard-close': burgerOn}">
    <div class="top" [ngClass]="{'dashboard-close-top': burgerOn}">
        <mat-icon class="sidebar-toggle" [ngClass]="{'icon-color': true}">reorder</mat-icon>

        <div class="search-box">
            <mat-icon class="search" [ngClass]="{'icon-color': true}">search</mat-icon>
            <input type="text" placeholder="Search here...">
        </div>

        <img src="../../../../assets/images/jaikishan_img1.png" alt="" srcset="">
    </div>
</section>