p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-close {
    left: var(--container-width-close) !important;
    width: calc(100% - var(--container-width-close)) !important;
}
.containers{
    transition: var(--tran-05);
    width: calc(100% - var(--container-width-open));
    position: absolute;
    left: var(--container-width-open);
    height: calc(100vh - 12vh);
    background-color: var(--panel-color);
    padding-left: 0.5rem;
}